<!DOCTYPE html>
<html>
<head>
  <link href="stylesheets/libretto.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/themes/simple.css" rel="stylesheet" type="text/css">
  <script src="javascripts/libretto.js" type="text/javascript"></script>
  <style>
    body { width: 1344px; height: 756px; }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
