* {
  -webkit-print-color-adjust: exact;
}

html {
  width: 100%;
  height: 100%;
  overflow: visible;
}

body {
  border: 0;
  float: none !important;
  margin: 0 0 !important;
  overflow: visible;
  padding: 0;
}

section {
  visibility:visible !important;
  position:relative !important;
  page-break-after:always;
}
