<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Presentations</title>
  </head>
  <body>
    <ul>
      <% sitemap.resources.select{ |r| r.parent && r.parent.page_id == 'index' }.each do |page| %>
        <li><%= link_to page.data.title || page.path, page.path %></li>
      <% end %>
    </ul>
  </body>
</html>
